@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-size: 20px;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

p {
  @apply max-w-lg;
}

.text-fluid {
  font-size: 4px;
}
@media screen and (min-width: 320px) {
  .text-fluid {
    font-size: calc(4px + 10 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1024px) {
  .text-fluid {
    font-size: 14.3441px;
  }
}
